// Primary and Secondary
$primary-c: #01d167;
$secondary-c: #0c365a;
// Highlights
$highlight-c: #23cefd;
$state-c-1:#325baf;
$state-c-2:#325baf;
// Light Colors
$white-c: #fff;
$light-c-1: #ddd;
// Shadows
$shadow-c-1: #00000014;
