// Primary and Secondary
$primary-c: #01d167;
$secondary-c: #0c365a;
// Highlights
$highlight-c: #23cefd;
$state-c-1:#325baf;
$state-c-2:#3052ad;
// Light Colors
$white-c: #fff;
$light-c-1: #ddd;
$light-c-2: #edf3ff;
$light-c-3: #fafcff;
$light-c-4: #f0f0f0;
$light-c-5: #009dff1a;
$light-c-6: #aaa;
$light-c-7: #edfff5;
$light-c-8: #fcfcfc;
// Shadows
$shadow-c-1: #00000014;
// darkrgba(53, 4, 4, 0.078)
$dark-c-1: #aaa;
$dark-c-2: #222;
$danger: #dd0600;
