.empty-feature {
    margin: 0 15px;
}
.empty-tab {
    color: $white-c;
    min-height: calc(100vh - 180px);
    padding: 50px 24px 0;
}
/* Card Panel */
.card-panel {
    background: $secondary-c;
    &__header {
        &--inactive {
            opacity: 0;
            pointer-events: none;
        }
    }
    &__header-newcard {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 24px;
        color: $white-c;
        margin-bottom: 30px;
        /*       position: absolute;
      top: 45px;
      left: 0;
      right: 0;
 */
        &--no-cards {
            justify-content: flex-end;
        }
    }
    &__header-title {
        width: calc(100% - 100px);
    }
    &__header-label {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 19px;

    }
    &__header-amount {
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
    &__amount-currency {
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        background-color: $primary-c;
        max-width: 40px;
        width: 100%;
        max-height: 22px;
        padding: 5px;
        display: flex;
        @include flex-c-c;
        border-radius: 4px;
        margin-right: 15px;
    }
    .add-btn {
        font-size: 13px;
        line-height: 18px;
        font-weight: 700;
        color: $highlight-c;
        background: url(img/plus.svg) left 0 center no-repeat;
        padding-left: 25px;
        cursor: pointer;
    }
    &__tabs {
        // padding-top: 100px;
        min-height: 100vh;
    }
    &__data {
        position: fixed;
        z-index: 1;
        left: 0;
        right: 0;
        min-height: 100vh;
        top: calc(100% - 160px);
        transition: top 0.7s ease;
        &--active {
            top: 20px;
            bottom: 0;
        }
    }
}
.card-accordions {
    height: 100%;
    background: $white-c;
    padding: 24px 24px 86px;
    max-height: calc(100vh - 170px);
    overflow-y: scroll;
    &__each-accordion {
        border: 1px solid $light-c-4;
        border-radius: 8px;
        margin-bottom: 24px;
    }
    &__each-content {
        display: flex;
        flex-wrap: wrap;
        padding: 24px;
    }

    &__title {
        position: relative;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        color: $secondary-c;
        padding: 24px 24px 24px 60px;
        box-shadow: 0 0 8px 0 $shadow-c-1;
        border-radius: 8px;
        cursor: pointer;
        &--card-details {
            background: $light-c-3 url('@/pages/UserCards/img/card-details.svg') center left 24px no-repeat;
        }
        &--recent-transactions {
            background: $light-c-3 url('@/pages/UserCards/img/recent-transactions.svg') center left 24px no-repeat;
        }
    }
    &__arrow {
        position: absolute;
        right: 24px;
        width: 20px;
        height: 20px;
        background: url('@/pages/UserCards/img/down-arrow.svg') center center no-repeat;
    }
    /* Each data section */
    &__each-content-icon {
        width: 48px;
        height: 48px;
        background-color: $light-c-5;
        display: flex;
        @include flex-c-c;
        border-radius: 50%;
        margin-right: 12px;
    }
    &__right-sec {
        width: calc(100% - 60px);
    }
    &__name {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    &__name-field {
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        color: $dark-c-2;
    }
    &__type-field {
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        color: $dark-c-2;
        padding-right: 12px;
        background: url('@/pages/UserCards/img/recent-transactions/next.svg') center right no-repeat;
        &--credit {
            color: $primary-c;
        }
    }
    &__each-content-detail {
        margin-bottom: 12px;
    }
    &__each-content-btm {
        display: flex;
    }
    &__each-content-label {
        font-size: 12px;
        line-height: 18px;
        font-weight: 600;
        color: $state-c-1;
    }
    &__date {
        font-size: 13px;
        line-height: 18px;
        color: $light-c-6;
    }
    &__credit-card-icon {
        width: 24px;
        height: 20px;
        display: flex;
        @include flex-c-c;
        background-color: $state-c-1;
        border-radius: 50%;
        margin-right: 8px;
    }
    &__view-all-wrap {
        display: flex;
        @include flex-c-c;
        min-height: 50px;
        background-color: $light-c-7;
    }
    &__view-all {
        font-size: 13px;
        line-height: 18px;
        font-weight: 600;
        color: $primary-c;
        cursor: pointer;
    }

}
/* Card Settings */
.card-settings {
    padding: 20px 31px;
    background: $light-c-2;
    border-radius: 30px 30px 0 0;
    &__btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 5px;
    }
    &__btn-icon {
        width: 32px;
        height: 32px;
        &--freeze {
            background: url('@/pages/UserCards/img/freeze-card.svg') center no-repeat;
        }
        &--limit {
            background: url('@/pages/UserCards/img/spend-limit.svg') center no-repeat;
        }
        &--gpay {
            background: url('@/pages/UserCards/img/gpay.svg') center no-repeat;
        }
        &--replace-card {
            background: url('@/pages/UserCards/img/replace-card.svg') center no-repeat;
        }
        &--cancel-card {
            background: url('@/pages/UserCards/img/deactivate.svg') center no-repeat;
        }
    }
    &__btn-label {
        font-size: 13px;
        line-height: 14px;
        color: $secondary-c;
        text-align: center;
        margin-top: 7px;
    }
    &__each-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 5px;
        max-width: 61px;
        &:last-child {
            margin: 0;
        }
    }
}
@include screen(large-tablet) {
    .empty-tab {
        color: $dark-c-2;
        padding-left: 0;
        padding-right: 0;
    }
    /* Card Panel */
    .card-panel {
        background: $white-c;
        &__frame {
            border: 1px solid $light-c-8;
            box-shadow: 0 2px 12px 0 $shadow-c-1;
            margin-top: 16px;
        }
        &__tabs {
            padding-top: 0;
        }
        &__header-newcard {
            position: static;
            color: $dark-c-2;
            padding: 0;
        }
        &__amount-currency {
            color: $white-c;
        }
        &__data {
            position: static;
        }
        &__header-title {
            width: calc(100% - 110px);
        }
        .add-btn {
            border-radius: 4px;
            background: $state-c-1 url(img/plus-white.svg) left 12px center no-repeat;
            min-width: 109px;
            min-height: 35px;
            display: flex;
            align-items: center;
            color: $white-c;
            padding-left: 35px;
        }
    }
    /* Card Settings */
    .card-settings {
        &__each-btn {
            cursor: pointer;
        }
    }

    /* Card Accordions */
    .card-accordions {
        max-height: 100%;
    }
}

@include screen(desktop) {
    .card-panel {
        &__frame {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            padding: 40px;
        }
        &__column {
            &--left {
                width: 414px;
                margin-right: 46px;
            }
            &--right {
                width: calc(100% - 460px);
            }
        }
        &__tabs {
            min-height: auto;
        }
    }
    .card-display {
        &__cards {
            margin: 0 0 144px;
        }
        &__card {
            max-width: 414px;
            min-height: 248px;
            margin: 21px 0 16px;
        }
    }
    .card-settings {
        position: absolute;
        left: 40px;
        bottom: calc(100% - 493px);
        border-radius: 16px;
        min-width: 414px;
    }
    .card-accordions {
        padding: 0;
        &__each-accordion {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
