/* Card Panel */
.card-panel {
    background: $secondary-c;
    &__header-newcard {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 100px;
    }
    &__data {
        position: fixed;
        z-index: 1;
        left: 0;
        right: 0;
        min-height: 100vh;
        top: calc(100% - 140px);
        // top: 0;
    }
}
/* Card Settings */
.card-settings {
    padding: 20px 31px;
    background: $light-c-2;
    border-radius: 30px 30px 0 0;
    &__btn {
        display: flex;
        flex-wrap: wrap;
    }
    &__each-btn {
        margin-right: 20px;
    }
}
/* Card Section */
.card-display {
    &__cards {
        /* Owl Settings */
        .owl-dot {
            span {
                width: 8px;
                height: 8px;
                background: $primary-c !important; // overide owl
                opacity: 0.1;
            }
            &.active {
                span {
                    width: 16px;
                    opacity: 1;
                }
            }
        }
    }
    &__card {
        margin-top: 50px;
        position: relative;
        max-width: 358px;
        width: 100%;
        height: 220px;
        color: $white-c;
        margin: 50px auto;
    }
    &__card-wrap {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
        padding: 0 24px;
        border-radius: 12px;
        z-index: 1;
        width: 100%;
        background: $primary-c;
        box-shadow: 0 2px 6px 0 $shadow-c-1;
        transition: all 1s ease;
        &::after {
            content: "X";
            font-size: 24px;
            position: absolute;
            left: 25px;
            font-weight: 700;
            opacity: 0;
            transition: all 1s ease;
            color: red;
            top: 30px;
        }
        &--freeze {
            overflow: hidden;
            padding-left: 90px;
            opacity: 0.9;
            transform: rotate(6deg);
            background: $dark-c-1;
            .card-display__card-content {
                transform: scale(0.7);
            }
            &::after {
                opacity: 1;
            }
        }
    }
    &__card-strip {
        position: absolute;
        top: -30px;
        right: 0;
        background: $white-c;
        min-height: 40px;
        border-radius: 6px 6px 0 0;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        color: $primary-c;
        padding: 5px 10px 0 32px;

    }
    &__card-strip-icon {
        position: absolute;
        left: 10px;
        top: 8px;
        width: auto !important; // override owll
    }
    &__card-number-year {
        margin-bottom: 20px;
    }
    &__card-number {
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        display: inline-flex;
        align-items: center;
        align-content: center;
        &--show {
            .card-display__card-circle {
                background: transparent
            }
            .card-display__card-digit {
                opacity: 1;
                width: 100%;
            }
        }
    }
    &__card-circle {
        width: 8px;
        height: 8px;
        background: #fff;
        margin-right: 3.5px;
        display: inline-flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
    &__card-circle-mul-4 {
        margin-right: 24px;
    }
    &__card-digit {
        opacity: 0;
        width: 0;
        transition: all 0.4s ease;
    }
    &__card-name {
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 0.53px;
        line-height: 20px;
        margin-bottom: 25px;
    }
    &__card-value {
        font-weight: 700;
        font-size: 13px;
    }
}
@include screen(desktop) {
    /* Card Panel */
    .card-panel {
        background: $white-c;
        &__data {
            position: static;
        }
    }
}
